/.vs/TradingBot/v15/.suo
/.vs/TradingBot/v15/Server/sqlite3/db.lock
/.vs/TradingBot/v15/Server/sqlite3/storage.ide
/.vs/TradingBot/v15/Server/sqlite3/storage.ide-shm
/.vs/TradingBot/v15/Server/sqlite3/storage.ide-wal
/TradingBot.CommandPrompt/bin/Debug/netcoreapp2.0/TradingBot.CommandPrompt.dll
/TradingBot.CommandPrompt/bin/Debug/netcoreapp2.0/TradingBot.CommandPrompt.pdb
/TradingBot.CommandPrompt/bin/Debug/netcoreapp2.0/TradingBot.CommandPrompt.deps.json
/TradingBot.CommandPrompt/bin/Debug/netcoreapp2.0/TradingBot.CommandPrompt.runtimeconfig.dev.json
/TradingBot.CommandPrompt/bin/Debug/netcoreapp2.0/TradingBot.CommandPrompt.runtimeconfig.json
/TradingBot.CommandPrompt/obj/Debug/netcoreapp2.0/TradingBot.CommandPrompt.AssemblyInfo.cs
/TradingBot.CommandPrompt/obj/Debug/netcoreapp2.0/TradingBot.CommandPrompt.AssemblyInfoInputs.cache
/TradingBot.CommandPrompt/obj/Debug/netcoreapp2.0/TradingBot.CommandPrompt.csproj.CoreCompileInputs.cache
/TradingBot.CommandPrompt/obj/Debug/netcoreapp2.0/TradingBot.CommandPrompt.csproj.FileListAbsolute.txt
/TradingBot.CommandPrompt/obj/Debug/netcoreapp2.0/TradingBot.CommandPrompt.csprojResolveAssemblyReference.cache
/TradingBot.CommandPrompt/obj/Debug/netcoreapp2.0/TradingBot.CommandPrompt.dll
/TradingBot.CommandPrompt/obj/Debug/netcoreapp2.0/TradingBot.CommandPrompt.pdb
/TradingBot.sln.DotSettings.user
/TradingBot.Web/bin/Debug/netcoreapp2.0/TradingBot.Web.deps.json
/TradingBot.Web/bin/Debug/netcoreapp2.0/TradingBot.Web.dll
/TradingBot.Web/bin/Debug/netcoreapp2.0/TradingBot.Web.pdb
/TradingBot.Web/bin/Debug/netcoreapp2.0/TradingBot.Web.runtimeconfig.dev.json
/TradingBot.Web/bin/Debug/netcoreapp2.0/TradingBot.Web.runtimeconfig.json
/TradingBot.Common/obj/Debug/netstandard2.0/TradingBot.Common.AssemblyInfo.cs
/TradingBot.Common/obj/Debug/netstandard2.0/TradingBot.Common.AssemblyInfoInputs.cache
/TradingBot.Common/obj/Debug/netstandard2.0/TradingBot.Common.csproj.CoreCompileInputs.cache
/TradingBot.Web/obj/Debug/netcoreapp2.0/TradingBot.Web.AssemblyInfo.cs
/TradingBot.Web/obj/Debug/netcoreapp2.0/TradingBot.Web.AssemblyInfoInputs.cache
/TradingBot.Web/obj/Debug/netcoreapp2.0/TradingBot.Web.csproj.CoreCompileInputs.cache
/TradingBot.Web/obj/Debug/netcoreapp2.0/TradingBot.Web.csproj.FileListAbsolute.txt
/TradingBot.Web/obj/Debug/netcoreapp2.0/TradingBot.Web.csprojResolveAssemblyReference.cache
/TradingBot.Web/obj/Debug/netcoreapp2.0/TradingBot.Web.dll
/TradingBot.Web/obj/Debug/netcoreapp2.0/TradingBot.Web.pdb
/TradingBot.WPF/obj/Debug/App.g.cs
/TradingBot.WPF/obj/Debug/App.g.i.cs
/TradingBot.WPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TradingBot.WPF/obj/Debug/MainWindow.baml
/TradingBot.WPF/obj/Debug/MainWindow.g.cs
/TradingBot.WPF/obj/Debug/MainWindow.g.i.cs
/TradingBot.WPF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TradingBot.WPF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TradingBot.WPF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TradingBot.WPF/obj/Debug/TradingBot.WPF.csproj.CoreCompileInputs.cache
/TradingBot.WPF/obj/Debug/TradingBot.WPF.csproj.FileListAbsolute.txt
/TradingBot.WPF/obj/Debug/TradingBot.WPF.csproj.GenerateResource.Cache
/TradingBot.WPF/obj/Debug/TradingBot.WPF.csprojResolveAssemblyReference.cache
/TradingBot.WPF/obj/Debug/TradingBot.WPF.exe
/TradingBot.WPF/obj/Debug/TradingBot.WPF.g.resources
/TradingBot.WPF/obj/Debug/TradingBot.WPF.pdb
/TradingBot.WPF/obj/Debug/TradingBot.WPF.Properties.Resources.resources
/TradingBot.WPF/obj/Debug/TradingBot.WPF_MarkupCompile.cache
/TradingBot.WPF/obj/Debug/TradingBot.WPF_MarkupCompile.i.cache
/TradingBot.WPF/obj/Debug/TradingBot.WPF_MarkupCompile.lref
/TradingBot.WPF/bin/Debug/TradingBot.WPF.exe
/TradingBot.WPF/bin/Debug/TradingBot.WPF.exe.config
/TradingBot.WPF/bin/Debug/TradingBot.WPF.pdb
/TradingBot.WinForms/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/TradingBot.WinForms/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TradingBot.WinForms/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TradingBot.WinForms/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TradingBot.WinForms/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TradingBot.WinForms/obj/Debug/TradingBot.WinForms.csproj.CoreCompileInputs.cache
/TradingBot.WinForms/obj/Debug/TradingBot.WinForms.csproj.FileListAbsolute.txt
/TradingBot.WinForms/obj/Debug/TradingBot.WinForms.csproj.GenerateResource.Cache
/TradingBot.WinForms/obj/Debug/TradingBot.WinForms.csprojResolveAssemblyReference.cache
/TradingBot.WinForms/obj/Debug/TradingBot.WinForms.exe
/TradingBot.WinForms/obj/Debug/TradingBot.WinForms.pdb
/TradingBot.WinForms/obj/Debug/TradingBot.WinForms.Properties.Resources.resources
/TradingBot.WinForms/bin/Debug/TradingBot.WinForms.exe
/TradingBot.WinForms/bin/Debug/TradingBot.WinForms.exe.config
/TradingBot.WinForms/bin/Debug/TradingBot.WinForms.pdb
/TradingBot.CommandPrompt/obj/TradingBot.CommandPrompt.csproj.nuget.cache
/TradingBot.CommandPrompt/obj/TradingBot.CommandPrompt.csproj.nuget.g.props
/TradingBot.CommandPrompt/obj/TradingBot.CommandPrompt.csproj.nuget.g.targets
/TradingBot.Common/bin/Debug/netstandard2.0/TradingBot.Common.deps.json
/TradingBot.Common/bin/Debug/netstandard2.0/TradingBot.Common.dll
/TradingBot.Common/bin/Debug/netstandard2.0/TradingBot.Common.pdb
/TradingBot.Common/obj/Debug/netstandard2.0/TradingBot.Common.csproj.FileListAbsolute.txt
/TradingBot.Common/obj/Debug/netstandard2.0/TradingBot.Common.csprojResolveAssemblyReference.cache
/TradingBot.Common/obj/Debug/netstandard2.0/TradingBot.Common.dll
/TradingBot.Common/obj/Debug/netstandard2.0/TradingBot.Common.pdb
/TradingBot.Common/obj/TradingBot.Common.csproj.nuget.cache
/TradingBot.Common/obj/TradingBot.Common.csproj.nuget.g.props
/TradingBot.Common/obj/TradingBot.Common.csproj.nuget.g.targets
/TradingBot.Web/obj/TradingBot.Web.csproj.nuget.cache
/TradingBot.Web/obj/TradingBot.Web.csproj.nuget.g.props
/TradingBot.Web/obj/TradingBot.Web.csproj.nuget.g.targets
/TradingBot.WPF/obj/Debug/TradingBot.WPF_MarkupCompile.i.lref
/TradingBot.WinForms/obj/Debug/TempPE/*.dll
/TradingBot.WPF/obj/Debug/TempPE/*.dll
/TradingBot.Web/obj/Debug/netcoreapp2.0
netstandard2.0
netcoreapp2.0
v15
/TradingBot.Common/obj
Debug
obj
/.vs
