<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Type" value="Yobit"/>
		<add key="PublicUrl" value="https://yobit.net/api/3/"/>
		<add key="PrivateUrl" value="https://yobit.net/tapi/"/>
		<add key="ApiKey" value="B03E731C650825B49CB2840E8449D98D"/>
		<add key="Secret" value="5ceeeb6072789d30e79a961335e63d50"/>
		<add key="CreatedAt" value="1/1/2018 12:00:00 AM +02:00"/>
		<add key="RequestLimit" value="1200"/>
	</appSettings>
</configuration>