<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Type" value="Cryptopia"/>
		<add key="PublicUrl" value="https://www.cryptopia.co.nz/api/"/>
		<add key="PrivateUrl" value="https://www.cryptopia.co.nz/api/"/>
		<add key="CreatedAt" value="1/1/2018 12:00:00 AM +02:00"/>
	</appSettings>
</configuration>